/* 日历组件样式 */

/* 提示框 */
.calendar #calendarDemo #promptTip {
	position: fixed;
	z-index: 900;
	background-color: orange;
	width:60px;
	height:80px;
	border-radius:5px;
}

/* 日历 */
.calendar #calendarDemo .comp-full-calendar {
	max-width: 1660px !important;
}

/* 日历内容 */
.calendar #calendarDemo .full-calendar-body {
	height:587px;
	overflow: hidden;
}

/* 日历内容-周一-周日 */
.calendar #calendarDemo .full-calendar-body .weeks{
	height: 40px;
	line-height: 40px;
	color: rgba(16, 16, 16, 1);
	font-size: 12px;
	font-family: Roboto;
}

/* 日历内容-每一天 */
.calendar #calendarDemo .comp-full-calendar .full-calendar-body .dates .dates-events .events-week .events-day {
	overflow: visible !important;
	position: relative;
}

/* 日历内容-每一天 */
.calendar #calendarDemo .full-calendar-body .dates .dates-events .events-week .events-day .event-item {
	border-radius: 2px;
}

/* 日历内容-阴历时间 */
.calendar #calendarDemo .full-calendar-body .dates .dates-events .events-week .events-lunar {
	position: absolute;
	font-size: 12px;
	color: #423e3e;
	left: 6px;
	top: 5px;
}

/*周六周末背景色*/
.calendar #calendarDemo .weekendBackgroundColor{
	background-color: rgba(191, 191, 191, 0.16);
}

/*公历节日*/
.calendar #calendarDemo .solarFestivalColor{
	color:#e02d2d!important;
}

/*农历节日*/
.calendar #calendarDemo .lunarFestivalColor {
	color:#e02d2d!important;
}

/*二十四节气*/
.calendar #calendarDemo .solarTermColor {
	color:#e02d2d!important;
}

/*国家法定节假日字体颜色*/
.calendar #calendarDemo .legalFestivalColor {
	color:#e02d2d!important;
}

/*国家法定节假日背景色*/
.calendar #calendarDemo .legalFestivalBackgroundColor{
	background-color: rgba(191, 191, 191, 0.16);
}

/*国家法定休息日*/
.calendar #calendarDemo .rest {
	display: inline-block;
	position: absolute;
	color: #fff;
	top: 6px;
	right: 22px;
	font-size: 10px !important;
	width: 14px;
	height: 14px;
	border-radius: 2px;
	text-align: center;
	line-height: 14px;
	background: #3ad229;
}

/* 不同的事件的背景色-蓝色 */
#calendarDemo .comp-full-calendar .full-calendar-body .dates .dates-events .events-week .events-day .event-box .blue{
	background-color: #c7e6fd;
}

/* 不同的事件的背景色-粉色 */
#calendarDemo .comp-full-calendar .full-calendar-body .dates .dates-events .events-week .events-day .event-box .pink{
	background-color: pink;
}
	
/*更多事件查看*/
.calendar #calendarDemo .full-calendar-body .dates .more-events {
	width: 14% !important;
}