.calender {
	width: 900px;
	position: relative;
	margin: 20px auto;
	border: 1px solid #ddd;
	padding: 15px;
}
/* 日历-头部切换 */
.calendar_top {
	width: 100%;
	position: relative;
	display: flex;
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
}


.calendar_top_year, 
.calendar_top_month, 
.calendar_top_vacation, 
.calendar_top_today{
	flex:1;
	border:1px solid #eee;
	height:30px;
	line-height: 30px;
	text-align: center;
	font-size:14px;
}
.calendar_top_month, 
.calendar_top_vacation, 
.calendar_top_today{
	margin-left:10px;
}

.calendar_content {
	position: relative;
}

/* 日历-星期 */
.calendar_content_week {
	display: flex;
	flex-direction: row;
	/* padding: 20px; */
	font-size: 16px;
	height:60px;
	line-height: 60px;
}

.calendar_content_week li {
	width: 14.28%;
	text-align: center;
}


.calendar_content_day {
	display: flex;
	flex-direction: row;
	font-size: 16px;
	flex-wrap: wrap;
}

/* 日历-每一天 */
.calendar_content_day li {
	width: 14.28%;
	padding: 20px;
	box-sizing: border-box;
	border-top: 1px solid #ddd;
	text-align: center;
	position:relative;
	border-left:1px solid #fff;
}

/* 日历-公历 */
.calendar_content_day li .item_solar{
	font-size:18px;
	color:#000;
}
/* 日历-农历 */
.calendar_content_day li .item_lunar{
	font-size:12px;
	color:#999;
}
/* 日历-休 */
.calendar_content_day li .item_rest{
	position: absolute;
	top:0;
	left:0;
	width:20px;
	height:20px;
	background-color: #f43;
	color:#fff;
	font-size:14px;
	display: block;
}

/* 今天的样式 */
.calendar_content_day .calendar_content_today {
	background-color: #F2F5FF;
	color: #1989fa;
}

/* 法定节假日背景色 */
.calendar_content_day .calendar_content_rest_bgc {
	background: #fff0f0;
}

/* 二十四节气颜色 */
.calendar_content_day li .calendar_content_term_color{
	color: #e02d2d;
	font-size:12px;
}

.calendar_content_day li .calendar_content_month_opacity{
	opacity:0.75;
}

.calendar_content_day li .calendar_content_month_color{
	color:#bfbfbf;
}
.calendar_content_rest_opacity{
	opacity:0.75;
}

/* 点击 */
.calendar_content_day .calendar_content_click{
	border:3px solid #fb0;
}

/* 事件 */
.calendar_content_event{
	position: absolute;
	bottom:0;
	left:0;
	height:20px;
	background-color: #969799;
	color:#fff;
	font-size:14px;
	display: block;
}






